
.blocflex {
    display :flex;
    justify-content: space-between;
    flex-wrap: wrap;
   // column-gap: 20px;
   gap: 20px;

}

.blocflex_search {
  display :flex;
  justify-content: flex-start;
  flex-wrap: wrap;
 // column-gap: 20px;
 gap: 20px;
}




/*
.blocflex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    // Cette déclaration sera meilleur quand min() sera mieux supporté
    // grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    gap: 2rem;
    margin: 2rem;
*/ 
    .blocflex__article {
      display: flex;
      flex: 1 0 300px;    
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      border: 1px solid rgb(25, 25, 25);
      padding: 1rem;
      background-color: white;
      border-radius: 10px;
      box-shadow: 10px 10px#888888;
      
      h3,h5,h6,p {
        margin: 0;
        padding: 0;
      }
    }

    .blockflex__galerie {
      flex: 1 0 100%;
    }
    


