.menu-entete-container {

.menu { // ul 
   display: flex;
   list-style-type: none;
   justify-content: space-around;


  .menu-item { //li
     color: rgb(0, 45, 111);

     a {
     display: block;
    }

}



}    
}