.site_footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.site_footer section {
    border:  1px solid rgb(104, 104, 104);
    flex: 1 1 200px;
    color: rgb(0, 102, 255);
    background-color: rgb(0, 0, 0);
    padding: 15px;
}