.site_header_logo{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: black;
}

.logomenu {
  display: flex;
  align-items: center;
}


.menu-entete-container {

    .menu { // ul 
       display: flex;
       list-style-type: none;
       justify-content: flex-start;
       
      .menu-item { //li
         color: rgb(0, 45, 111);

         a {
         display: block;
         padding: 5px 25px;
         
        }
      
      
    }
    li a {
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      background: rgb(22, 23, 26); 
  }
  li a:hover{
    background-color: rgb(37, 36, 36);
  }
    
    
    
    }    
    }