/* Les balise qu'on utilise dans la conversion des fichiers markdown */

/*liste */
ul,ol {}

ul > li,
ol > li{}
/*
li::before {
    content: ">";
    background: lightgray;
    border-radius: 1rem;
    padding-inline: 1rem;
    margin-inline-end: 1rem;
  }
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul>li {}

ol>li{}



/* ------------------------------------ pre */ 

pre{}

code{}

i{}

blockquote{}

hr{}

strong {}